body {
	margin: 0;
}

.normalFont {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 24px;
	white-space: nowrap;
}

.boldFont {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 36px;
	white-space: nowrap;
}

.container {
	margin:40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header {
	display:flex;
	justify-content: space-between;
	background-color: #333333;
	
}
.header__logo {
	display: flex;
	align-items: center;
	margin-left: 54px; 
	margin: 25px;
	color: #FFFFFF;
}
.header__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 50px;
	
}
.header__btn-link {
	margin: 25px;
}
.header__popup {
	display: none;
	justify-content: center;
	align-items: center;
	margin-right: 50px;
}
.header__popup-btn {
	color: white;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
a.active {
	border-bottom: 5px solid white;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
	margin: 60px 30px;
}
.info-alignLeft {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.info__img {
	height: 166px;
	width: 166px;
	margin: 0 0 20px;
}
.info__name {
	color: black;
	margin: 0;
	font-size: 36px;
}
.info__photographer,  {
	margin:15px;
}
.form__line {
	margin: 15px auto;
	width: 100%;
}
.form__input {
	padding: 8px;
	color: rgba(0, 0, 0, 0.36);
	border: 1px solid #000000;
	width: 100%;
	height: 40px;
    box-sizing: border-box;
}
.form__input-area {
	resize: none;
	height: 100px;
}

.nav {
	height: 80px;
	background-color: #333333;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-menu {
	width: 960px;
	display: flex;
	justify-content: flex-end;
}

.nav-menu__item {
	margin-left: 20px;
	list-style-type: none;
	color: #FFFFFF;
}

.mobile-switch {
	display: none;
	background-color: #333333;
	border: none;
	color: #FFFFFF;

}
}